[Unit]
Description=secretsd session secrets broker socket

[Socket]
ListenStream=%t/secretsd.sock
SocketMode=0600
Accept=no
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
